{% extends 'base.html' %}

{% load static %}

{% block title %}{{investcategory.name}}{% endblock %}

{% block content %}
<div class="container-fluid m-0 p-0">
    <div class="h-75 p-5 dash " style="background-color: #123c66;">
        <div class="text-center text-white">
            
            <h3 class="fw-bold"><a href="{% url 'investments:investment-list' %}" class="text-decoration-none text-white">Packages</a> > {{investcategory.name}}</h3>
        </div>
    </div>

    <div class="container py-5 mb-5">
        <div class="row mb-5">
            <div class="col-md-8 col-sm-12">
                <h5 class="fw-semibold mt-3 mb-3">
                    Package Details
                </h5>
                <hr>
                <p>
                    {{investcategory.description}}
                </p>
                <hr>
                <h6 class="mt-3 fw-semibold">
                    Package Costs
                </h6>

                <hr class="w-25">

                <p><strong>Interest Rate per Day</strong> {{investcategory.profit_rate}}</p>
                <p><strong>Investment Period</strong> 7 Days</p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Terms</th>
                                <th>Amount - Ksh</th>
                                <th>Amount - USDT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Minimum</td>
                                <td>{{investcategory.price}}</td>
                                <td>{{investcategory.usdt_price}}</td>
                            </tr>
                            <tr>
                                <td>Maximum</td>
                                <td>{{investcategory.max_price}}</td>
                                <td>{{investcategory.usdt_max}}</td>
                            </tr>
                            <tr>
                                <td>Daily Withdrawal Limit</td>
                                <td>{{investcategory.daily_withdrawal}}</td>
                                <td>{{investcategory.daily_usdt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mt-2">
                    <a href="{% url 'investments:package-create' %}" class="btn btn-dark w-100 fw-bold">SUBSCRIBE</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <h5 class="fw-semibold mt-3 mb-3">
                    How to Invest
                </h5>
                <hr>
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            M-PESA Option
                        </div>
                        <div class="card-body">
                            <p class="card-text">Send Money Option</p>
                            <p class="card-text">254710584581</p>
                            <p class="card-text">Dalienst Oduor</p>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            Crypto Option
                        </div>
                        <div class="card-body">
                            <p class="card-text">Wallet Address</p>
                            <p class="card-text">254710584581</p>
                            <p class="card-text">Dalienst Oduor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}