{% extends 'base.html' %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}

<div class="container-fluid m-0 p-0">
    <div class="h-75 p-5 dash " style="background-color: #123c66;">
        <div class="text-center text-white">
    
            <h3 class="fw-bold">Your Portfolio</h3>
        </div>
    </div>
</div>

{% if user_packages %}
<div class="container mt-2 py-3">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <h5 class="fw-semibold">Your Subscribed Packages</h5>
            <div class="row">
                {% for user_package in user_packages %}
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            {{user_package.category.name}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Available Funds: {{user_package.available_funds}}
                            </p>
                            <p class="card-text">
                                Subscribed: {{user_package.created_at}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <a href="{% url 'investments:package-detail' user_package.id %}" class="btn btn-sm btn-dark">Manage</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <h5 class="fw-semibold">More Info</h5>
            <p>Packages Subscribed: {{user_packages|length}}</p>
        </div>
    </div>
</div>
{% else %}
<div class="container py-5 mt-3 mb-5">
    <p class="bg-warning border border-dark p-3 rounded">
        You have not subscribed to any of our packages. Create a subscription <a href="{% url 'investments:package-create' %}">here</a>
    </p>
</div>
{% endif %}

{% endblock %}