{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}{% endblock %}


<h5 class="fw-semibold">
    Top Gainers
</h5>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Investment Amount</th>
                        <th>Investment Period</th>
                        <th>Profit Gained</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Ratego Mchumah
                        </td>
                        <td>1000</td>
                        <td>3 weeks</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>
                            Andrew
                        </td>
                        <td>500</td>
                        <td>4 weeks</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="mt-3">
    <h5 class="fw-semibold">Your Assets</h5>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table border rounded">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Profit</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>50</td>
                        <td>150</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col">
    <div class="card mb-3">
        <div class="card-header chart text-white">
            Learn how to trade
        </div>
        <div class="card-body">
            <p class="card-text">
                Enroll today in our trading classes and advance your skills. Get trained by professionals
                and get a premium account.
            </p>
            <a href="" class="btn mynav text-white fw-bold btn-sm">Enroll</a>
        </div>
    </div>

</div>