{% extends 'base.html' %}

{% load static %}


{% block title %}Welcome{% endblock %}

{% block content %}

<div class="container-fluid h-50 herobg">
    <div class="container">
        <div class="row flex-lg-row justify-content-center align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{%static 'images/hero3.jpg'%}" alt="" height="500px" width="500px"
                    class="d-block mx-lg-auto img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="fw-bold mb-2">
                    Empowering Your Wealth, Elevating Africa's Future
                </h1>
                <p class="fw-semibold fs-4">
                    Unleash the untapped potential of your investments with us. Our commitment goes beyond numbers –
                    we're here to secure
                    your financial future, drive prosperity, and shape a thriving Africa for generations to come.
                </p>
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <div>
                        <a href="" class="btn btn-lg border rounded fw-semibold shadow-lg bg-body-tertiary ">Get
                            Started</a>
                    </div>
                    <div class="ms-2">
                        <a href="{% url 'login' %}"
                            class="btn btn-lg border bg-dark shadow-lg rounded text-white fw-semibold">Invest Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid chart">
    <section id="charts" class="py-5">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height:600px;width:100%">
            <div id="tradingview_d768c" style="height:calc(100% - 32px);width:100%"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
                    target="_blank"><span class="blue-text"></span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                new TradingView.widget(
                    {
                        "autosize": true,
                        "symbol": "BINANCE:BTCUSDT",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "dark",
                        "style": "1",
                        "locale": "en",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "allow_symbol_change": true,
                        "calendar": true,
                        "container_id": "tradingview_d768c"
                    }
                );
            </script>
        </div>
        <!-- TradingView Widget END -->
    </section>
</div>

<div class="container-fluid mb-0 herobg">
    <div class="container py-3">
        <div class="text-center text-white">
            <h1 class="fw-bold mb-3 mt-3">
                Our Investment Packages
            </h1>
        </div>

        <div class="row">
            {% for category in packages %}
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-header fw-bold text-white mynav">
                        {{category.name}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{category.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'investments:investment-detail' category.pk %}"
                            class="btn mynav text-white fw-bold btn-sm w-100">More Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}