{% extends 'base.html' %}

{% load static %}

{% block title %}Transaction Processing{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="conatiner py-3">
        <div class="text-center">
            <h1 class="fw-bold">Payment Processing Successful</h1>
            <p class="fw-semibold">Check your phone for M-PESA STK prompt</p>
            <p class="fw-semibold">Enter your PIN to process payment</p>
            <a href="{%url 'investments:portfolio'%}" class="btn btn-primary">My Portfolio</a>
        </div>
    </div>
</div>
{% endblock %}